html{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}
/* .frame {
  height: 100%;
  background-color:black;
} */

.title-frame{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 20vh;
  background-color: chartreuse;
  float: left;
}

#start-btn{
  position: absolute;
  top: 10%;
  left: 1%;
  width: 10%;
  height: 10vh;
}

#stop-btn{
  position: absolute;
  top: 10%;
  left: 12%;
  width: 10%;
  height: 10vh;
}

#reset-btn{
  position: absolute;
  top: 10%;
  left: 23%;
  width: 10%;
  height: 10vh;
}

#title{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 10%;
  height: 5%;
  font-size: 100%;
  text-align: center;
  padding: 10px 0;
}

#time{
  position: absolute;
  top: 7%;
  right: 1%;
  width: 20%;
  height: 20%;
  background-color: aqua;
  font-size: 100%;
  text-align:center;
  padding:10px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px orange;
}

.maze-frame{
  position: absolute;
  top: 20%;
  left: 0%;
  width: 100%;
  height: 80vh;
  background-color: orange;
  float: left;
  float:inline-end;
}

#canvas{
  position: absolute;
  top: 0%;
  left: 25%;
}
